<ng-container *ngIf="data$ | async as data">
  <app-loading *ngIf="data.isLoading"></app-loading>

  <div *ngIf="!data.isLoading && data.feed" class="container">
    <nz-tabset [nzTabBarExtraContent]="chartSettings">
      <!-- PIE COMPONENT -->
      <nz-tab nzTitle="Pie Chart">
        <ng-template nz-tab>
          <app-pie
            [pieData]="PieChartData"
            [background]="data.background"
            [theme]="data.theme"
          ></app-pie>
        </ng-template>
      </nz-tab>

      <!-- LINE COMPONENT -->
      <nz-tab nzTitle="Line Chart">
        <ng-template nz-tab>
          <app-timeframe-filter
            (timeframeChanged)="onTimeframeChanged($event)"
          ></app-timeframe-filter>
          <app-line
            [lineData]="lineChartData"
            [background]="data.background"
            [theme]="data.theme"
            class="chart-container"
          ></app-line>
        </ng-template>
      </nz-tab>

      <!-- SUNBURST COMPONENT -->
      <nz-tab nzTitle="Sunburst Chart">
        <ng-template nz-tab>
          <app-sunburst
            [background]="data.background"
            [theme]="data.theme"
            [sunBurstData]="sunBurstChartData"
          ></app-sunburst>
        </ng-template>
      </nz-tab>

      <!-- STACKED COMPONENT -->
      <nz-tab nzTitle="Stacked Chart">
        <ng-template nz-tab>
          <app-stacked
            [background]="data.background"
            [theme]="data.theme"
            [stackedData]="stackedChartData"
          ></app-stacked>
        </ng-template>
      </nz-tab>
    </nz-tabset>

    <ng-template #chartSettings>
      <button (click)="openModal()" nz-button>Settings</button>
    </ng-template>
  </div>
</ng-container>

<app-modal></app-modal>
