<ng-container *ngIf="data$ | async as data">
  <app-loading *ngIf="data.isLoading"></app-loading>

  <div *ngIf="!data.isLoading && data.feed" class="container">
    <nz-tabset>
      <nz-tab nzTitle="Pie Chart">
        <ng-template nz-tab>
          <app-pie [pieData]="PieChartData"></app-pie>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Line Chart">
        <ng-template nz-tab>
          <app-line [lineData]="lineChartData"></app-line>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Sunburst Chart">
        <ng-template nz-tab>
          <app-sunburst [sunBurstData]="sunBurstChartData"></app-sunburst>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Stacked Chart">
        <ng-template nz-tab>
          <app-stacked [stackedData]="stackedChartData"></app-stacked>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </div>
</ng-container>
